.footer-principal {
  background-color: var(--black);
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: Cardo, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
  }

  a {
    font-family: Cardo, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);

    &:hover {
      font-family: Cardo, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: var(--white);
    }
  }
}



