:root {
  --font-primaire: Cardo, serif;
  --font-secondaire: "Bungee Shade", cursive;
  --white: #fff;
  --black: #000000;
  --degrade-principal: linear-Gradient(36deg, rgba(167, 2, 154, 0.7) 0%, rgba(167, 2, 154, 0) 100%);
}